################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
UpgradeLog*.htm
/obj*
/Result*

.vs/
.idea/
*.[Cc]ache
!?*.[Cc]ache/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.psess
*.vsp
*.vspx
*.sap
.vsconfig
*.suo
*.csproj*
v8_context_snapshot.bin